<div class="container">
  <br />
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="name">Text</label>
          <input type="text" [(ngModel)]="content" class="form-control" id="name" placeholder="Enter text here" name="content" 
          required>
          <p style="color: green">{{message}}</p>
        </div>

        <button type="button" [disabled]="!content" (click)="submit()" class="btn btn-success">Submit</button>
  
      </form>
    </div>

    <div class="col-md-6" style="height: 600px; overflow: auto">
      <table class="table">
        <thead>
          <tr>
            <th>Word</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let wordCount of wordCountList">
            <td>{{wordCount.word}}</td>
            <td>{{wordCount.count}}</td>
          </tr>         
        </tbody>
      </table>
   
      <div class="alert alert-warning" role="alert" *ngIf="!wordCountList.length">No records found</div>
    </div>
  </div>
</div>